// a flutuante button on the right side of the screen to change the language

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}