.container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
  z-index: 999;

  button {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}