.container {
  width: 290px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
  margin-bottom: 2.7rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 0 0 0.8rem 0.8rem;
}

.content {
  background: var(--background-reverse);
  color: var(--white);
  border-radius: 0 0 0.8rem 0.8rem;
  width: 290px;
  flex: 1;
  padding: 1rem 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  p {
    font-size: 18px;
    font-weight: bold;

    b {
      color: var(--text);
    }
  }
}

.description {
  margin: 1rem 0;
  color: var(--text-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 50px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a, button {
    background: transparent;
    color: var(--white);
    font-size: 28px;
    margin-right: 10px;
  }
}

.about {
  display: flex;
  color: var(--text-dark);
  font-size: 12px;

  img {
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.imageContainer {
  height: 200px;
  margin-bottom: -2px;

  div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    border-radius: 0.8rem 0.8rem 0 0;
  }
}