.imageContainer {
  margin-right: 1rem;
  div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 50px !important;
    position: relative !important;
    height: unset !important;
    border-radius: 0.2rem;
  }

  @media (max-width: 500px) {
    margin-bottom: 5px;
  }
}

.itens {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2rem;

  @media (max-width: 500px) {
    gap: 1rem;
  }
}

.item {
  display: flex;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1255px) {
    min-width: 500px;
    max-width: 550px;
  }

  @media (max-width: 670px) {
    min-width: 100%;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.informations {
  h3 {
    max-width: 500px;
    font-weight: bold;
  }

  h4 {
    text-decoration: underline;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.5rem;
    max-width: 500px;
    text-align: justify;

    font-size: 1rem;
    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
    @media (max-width: 500px) {
      font-size: 0.8rem;
    }
    @media (max-width: 400px) {
      text-align: left;
    }
  }

  span {
    font-weight: bold;
    font-size: 0.9rem;
  }
}

.skills {
  max-width: 500px;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;

  li {
    background-color: var(--background-reverse);
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: var(--text);
    font-size: 0.8rem;
  }
}
