.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  
}

.content {
  padding: 0 1rem;

  h1 {
    margin: 2rem 0;
  }
}

.articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
